/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: General
:: Page Name 1
:: Page Name 2
*/



/* -----------------------------------------
   General
----------------------------------------- */
.row {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 90%;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */



/* -----------------------------------------
   Media Queries
----------------------------------------- */


@media only screen and (min-width: 1441px) {
	.row {
		width: 1440px;
	}
}

@media only screen and (max-width: 767px) {

}
