/* -------------------------------------------------- 
   
		@author : 			Mathieu Pesant <pesantmathieu@gmail.com>,
							Alexandre Lefrançois <alexandre.lefrancois@imagedemark.com>,
							Antoine Savignac <antoine.savignac@gmail.com>
		@creationDate : 	20/02/2013
		@modificationDate: 	20/02/2013

-----------------------------------------------------
*/




/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: General
:: Header
:: Contenu
:: Footer
:: Toggles
:: Media Queries
::
::
::;
*/



/* -------------------------------------------------- 
   General
-----------------------------------------------------
*/
html {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	line-height: 1rem;
}

/* -- CLEARFIX -- */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	width: 100%;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

h1 {
	text-transform: uppercase;
}

h2 {
	font-family: 'Sanchez', serif;
	font-weight: 400;
	color: #a9a8a8;
}

.row {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 90%;
}

fieldset {
	border: none;
	margin: 20px 0;
	color: #717070;
}

div.button {
	color: #fff;
	background: #a9a8a8;
	padding: 10px 20px;
	border: 1px solid #ededed;
	border-radius: 2px;
	display: inline-block;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}


/* -------------------------------------------------- 
   Header
-----------------------------------------------------
*/
header {
	background: #37af78;
	color: #fff;
	padding: 100px 0 40px 0;
}

#logo {
	text-align: center;
}

#description {
	font-size: 3.5rem;
	font-weight: 300;
	line-height: 4rem;
	text-align: center;
	margin: 60px auto;
}

nav {
	text-align: center;
}

nav a {
    color: #fff;
    cursor:pointer;
    margin: 40px 0 0 0;
}

header a {
	display: inline-block;
}

.tab img {
	width: 35%;
	text-align: center;
}


/* -------------------------------------------------- 
   Contenu
-----------------------------------------------------
*/

#container {
	padding: 100px 0;
}

#explanation {
	font-size: 1.25rem;
	font-weight: 800;
	line-height: 1.75rem;
	font-size: ;
	color: #1c4654;
	text-align: justify;
}

#submitMap {
	cursor: pointer;
}
#AddressError
{
	color:#FF3300;
	display:none;
} 
#map_canvas {
	width: 100%;
	height: 300px;
	margin-top: 60px;
}
input[type="text"] {
	height: 45px;
	padding-left: 5px;
	font-size: 1.125em;
	margin-bottom: 15px;
}



/* -------------------------------------------------- 
   Footer
-----------------------------------------------------
*/
footer {
	background: #37af78;
	color: #fff;
	padding: 40px 0;
}



/* -------------------------------------------------- 
   Toggles
-----------------------------------------------------
*/

.toggleBox {
    border: #333 solid 1px;
}
.toggleBox + .toggleBox {
    margin-top: 10px;
}
.toggleBox h1 {
    background-color: #999;
    color: #FFF;
    cursor: hand;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 5px 10px;
    position: relative;
}
.toggleBox h1 span {
    background: url(../img/toggle.png) 0 0 no-repeat;
    display: block;
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
}
.toggleBox.opened h1 span {
    background-position: 0 -20px;
}
.toggleBox .details {
    background-color: #CCC;
    display: none;
    overflow: hidden;
}
.toggleBox .details .spacer {
    padding: 10px;
}
.toggleBox .details p {
    margin: 0;
    padding: 0;
}


/* Tabs */

#tabHeaderContainer {
    padding-top: 20px;
}
#tabHeaderContainer .tab {
    border: #333 solid 1px;
    border-bottom: none;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    cursor: hand;
    cursor: pointer;
    float: left;
    font-size: 16px;
    padding: 10px 20px;
    width: 50%;
}
#tabHeaderContainer .tab:hover {
    background-color: #CCC;
}
#tabContentContainer > section {
    visibility: hidden;
    position: absolute;
}
#tabContentContainer > section:first-child {
    visibility: visible;
    position: relative;
}

.toggleBox td {
    padding: 2px 0;
}
#requestsList {
    background: url(../img/loading.gif) center center no-repeat;
    min-height: 100px;
}

#requestsList article header {
    padding: 0;
}



/* -------------------------------------------------- 
   Media Queries
-----------------------------------------------------
*/
@media only screen and (min-width: 1441px) {
	.row {
		width: 1440px;
	}
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {
	#description {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

@media only screen and (max-width: 767px) {
	#container {
		padding: 40px 0;
	}
	#map_canvas {
		height: 200px;
	}
}

@media screen and (orientation: landscape) {

}

@media screen and (orientation: portrait) {
	#description {
		font-size: 2rem;
		line-height: 2.5rem;
	}
}

#resultStats {
    padding: 10px 0;
}

#Arrow {
    width:70px;
    height: 40px;
    position:absolute;
}
